input[type=search] {
	border-radius: 8px;
	font-size: 1.5em;
	padding: 3px 10px 4px 10px;
	border: none;
}

input[type=search]:focus {
	outline: none;
}

button {
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	font-size: 1.5em;
	background-color: #e6e6e6;
	color: #555555;
}

button:hover {
	background-color: #ccc;
}

button:active {
	background-color: #bbb;
}