.cloud {
	background-color: #000000;
	background-color: rgba(0, 0, 0, .1);
	margin: auto;
	border: 20px solid rgba(0, 0, 0, .1);
	border-radius: 30px;
}

.cloud-content {
	text-align: center;
	border-radius: 10px;
	background-color: #ffffff;
	min-height:200px;
	padding: 1em;
}

.cloud-content > .cloud-tag {
	display: inline-block;
}

.cloud-tag {
	font-size: 14px;
	display: none;
	cursor: pointer;
	border-radius: 4px;
	margin: 2px;
	padding: 0 2px;
}

.cloud-tag.salience0 {
	color: #ccc;
}

.cloud-tag.salience1 {
	font-size: 1.2em;
	color: #bbb;
}

.cloud-tag.salience2 {
	font-size: 1.4em;
	color: #aaa;
}

.cloud-tag.salience3 {
	font-size: 1.6em;
	color: #999;
}

.cloud-tag.salience4 {
	font-size: 1.8em;
	color: #888;
}

.cloud-tag.salience5 {
	font-size: 2em;
	color: #777;
}

.cloud-tag.salience6 {
	font-size: 2.2em;
	color: #666;
}

.cloud-tag.salience7 {
	font-size: 2.4em;
	color: #555;
}

.cloud-tag.salience8 {
	font-size: 2.6em;
	color: #444;
}

.cloud-tag.salience9 {
	font-size: 2.8em;
	color: #333;
}

.cloud-tag.salience10 {
	font-size: 3em;
	color: #222;
}

.cloud-tag.is-highlighted {
	background-color: #ADD8E6;
	color: #3D3D3D;
}

.cloud-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 3em;
	line-height: 3em;
	background-color: #000000;
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	text-align: center;
}